# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:AttackSquid=false
    B:Basilisk=false
    B:Bee=false
    B:CaterKiller=false
    B:Crab=false
    B:DungeonBeast=false
    B:EnderKnight=false
    B:EnderReaper=false
    B:EntityAbomination=false
    B:EntityAfrit=false
    B:EntityApis=false
    B:EntityArix=false
    B:EntityBlaze=false
    B:EntityCaveSpider=false
    B:EntityClink=false
    B:EntityCreeper=false
    B:EntityCryptZombie=false
    B:EntityCryse=false
    B:EntityDeathReaper=false
    B:EntityDrowned=false
    B:EntityEnt=false
    B:EntityEnyvil=false
    B:EntityEpion=false
    B:EntityFrostweaver=false
    B:EntityGeonach=false
    B:EntityGhast=false
    B:EntityGhoulZombie=false
    B:EntityGiantZombie=false
    B:EntityGorgomite=false
    B:EntityGragul=false
    B:EntityGrue=false
    B:EntityHusk=false
    B:EntityIllusionSpider=false
    B:EntityIllusionZombie=false
    B:EntityInkling=false
    B:EntityJabba=false
    B:EntityJabberwock=false
    B:EntityJarra=false
    B:EntityJengu=false
    B:EntityKobold=false
    B:EntityKragul=false
    B:EntityMagmox=false
    B:EntityManticore=false
    B:EntityMegaCryse=false
    B:EntityMinotaur=false
    B:EntityMobEnderman=false
    B:EntityNorVox=false
    B:EntityPacman=false
    B:EntityParasyticLouse=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntityPigmanBrute=false
    B:EntityPigmanKeeper=false
    B:EntityPigmanWarrior=false
    B:EntityPirah=false
    B:EntityPlague=false
    B:EntityPolaris=false
    B:EntityPsygote=false
    B:EntityPumpkinhead=false
    B:EntityRagr=false
    B:EntityRaiko=false
    B:EntityReiver=false
    B:EntityRoc=false
    B:EntityRunner=false
    B:EntityShambler=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySpitter=false
    B:EntitySpriggan=false
    B:EntityStray=false
    B:EntitySymbioteBlob=false
    B:EntityTFIceExploder=false
    B:EntityTFKnightPhantom=false
    B:EntityTheWall=false
    B:EntityTox=false
    B:EntityVampire=false
    B:EntityWendigo=false
    B:EntityWerewolf=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityZoataur=false
    B:EntityZombie=false
    B:EntityZombieGiant=false
    B:Irukandji=false
    B:LeafMonster=false
    B:Mantis=false
    B:Molenoid=false
    B:Mothra=false
    B:MutantCreeper=false
    B:MutantEnderman=false
    B:MutantSkeleton=false
    B:MutantZombie=false
    B:Rat=false
    B:Rotator=false
    B:Scorpion=false
    B:SeaMonster=false
    B:SeaViper=false
    B:Skate=false
    B:Urchin=false
    B:Vortex=false
    B:WormLarge=false
    B:WormMedium=false
    B:WormSmall=false
}


entitybasehealth {
    D:AttackSquid=31.059114456176758
    D:Bee=80.0
    D:CaterKiller=450.0
    D:Crab=125.0
    D:DungeonBeast=350.27813720703125
    D:EnderKnight=60.0
    D:EntityArix=15.0
    D:EntityCaveSpider=97.90739440917969
    D:EntityClink=15.0
    D:EntityCreeper=140.73471069335938
    D:EntityCryptZombie=105.4857406616211
    D:EntityCryse=35.0
    D:EntityDrowned=82.37355041503906
    D:EntityEnt=141.93882751464844
    D:EntityEpion=10.0
    D:EntityGorgomite=32.17972946166992
    D:EntityGragul=5.0
    D:EntityGrue=149.18992614746094
    D:EntityHusk=109.18875122070312
    D:EntityInkling=16.0
    D:EntityJabba=136.78297424316406
    D:EntityJengu=75.98676300048828
    D:EntityKobold=10.0
    D:EntityKragul=8.0
    D:EntityMinotaur=32.0
    D:EntityMobEnderman=40.0
    D:EntityNorVox=130.97650146484375
    D:EntityPacman=100.0
    D:EntityPigZombie=20.0
    D:EntityPigmanBrute=594.6685180664062
    D:EntityPigmanWarrior=559.8523559570312
    D:EntityPirah=59.72415542602539
    D:EntityPlague=4.0
    D:EntityPumpkinhead=268.38043212890625
    D:EntityRunner=155.26190185546875
    D:EntityShambler=122.01557159423828
    D:EntitySilverfish=8.0
    D:EntitySkeleton=20.0
    D:EntitySlime=9.103731155395508
    D:EntitySpider=16.0
    D:EntitySpitter=80.0
    D:EntitySpriggan=94.39571380615234
    D:EntityStray=20.0
    D:EntityTox=168.81507873535156
    D:EntityVampire=100.0
    D:EntityWerewolf=808.1907958984375
    D:EntityWisp=38.671993255615234
    D:EntityWitch=170.01992797851562
    D:EntityZombie=174.6103515625
    D:Irukandji=1.0
    D:LeafMonster=6.0
    D:Mantis=384.9624938964844
    D:Mothra=150.0
    D:Rat=5.0
    D:Rotator=35.0
    D:Scorpion=15.0
    D:SeaMonster=110.0
    D:SeaViper=160.0
    D:Skate=33.482051849365234
    D:Urchin=100.12500762939453
    D:WormLarge=473.5337219238281
    D:WormMedium=30.0
    D:WormSmall=10.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:AttackSquid=true
    B:Basilisk=true
    B:Bee=true
    B:CaterKiller=true
    B:Crab=true
    B:DungeonBeast=true
    B:EnderKnight=true
    B:EnderReaper=true
    B:EntityAbomination=true
    B:EntityAfrit=true
    B:EntityApis=true
    B:EntityArix=true
    B:EntityBlaze=true
    B:EntityCaveSpider=true
    B:EntityClink=true
    B:EntityCreeper=true
    B:EntityCryptZombie=true
    B:EntityCryse=true
    B:EntityDeathReaper=true
    B:EntityDrowned=true
    B:EntityEnt=true
    B:EntityEnyvil=true
    B:EntityEpion=true
    B:EntityFrostweaver=true
    B:EntityGeonach=true
    B:EntityGhast=true
    B:EntityGhoulZombie=true
    B:EntityGiantZombie=true
    B:EntityGorgomite=true
    B:EntityGragul=true
    B:EntityGrue=true
    B:EntityHusk=true
    B:EntityIllusionSpider=true
    B:EntityIllusionZombie=true
    B:EntityInkling=true
    B:EntityJabba=true
    B:EntityJabberwock=true
    B:EntityJarra=true
    B:EntityJengu=true
    B:EntityKobold=true
    B:EntityKragul=true
    B:EntityMagmox=true
    B:EntityManticore=true
    B:EntityMegaCryse=true
    B:EntityMinotaur=true
    B:EntityMobEnderman=true
    B:EntityNorVox=true
    B:EntityPacman=true
    B:EntityParasyticLouse=true
    B:EntityPhantom=true
    B:EntityPigZombie=true
    B:EntityPigmanBrute=true
    B:EntityPigmanKeeper=true
    B:EntityPigmanWarrior=true
    B:EntityPirah=true
    B:EntityPlague=true
    B:EntityPolaris=true
    B:EntityPsygote=true
    B:EntityPumpkinhead=true
    B:EntityRagr=true
    B:EntityRaiko=true
    B:EntityReiver=true
    B:EntityRoc=true
    B:EntityRunner=true
    B:EntityShambler=true
    B:EntitySilverfish=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntitySpitter=true
    B:EntitySpriggan=true
    B:EntityStray=true
    B:EntitySymbioteBlob=true
    B:EntityTFIceExploder=true
    B:EntityTFKnightPhantom=true
    B:EntityTheWall=true
    B:EntityTox=true
    B:EntityVampire=true
    B:EntityWendigo=true
    B:EntityWerewolf=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityZoataur=true
    B:EntityZombie=true
    B:EntityZombieGiant=true
    B:Irukandji=true
    B:LeafMonster=true
    B:Mantis=true
    B:Molenoid=true
    B:Mothra=true
    B:MutantCreeper=true
    B:MutantEnderman=true
    B:MutantSkeleton=true
    B:MutantZombie=true
    B:Rat=true
    B:Rotator=true
    B:Scorpion=true
    B:SeaMonster=true
    B:SeaViper=true
    B:Skate=true
    B:Urchin=true
    B:Vortex=true
    B:WormLarge=true
    B:WormMedium=true
    B:WormSmall=true
}


