# Configuration file

##########################################################################################################
# ignored mobs
#--------------------------------------------------------------------------------------------------------#
# If any mobs contain the string below, they will be ignored.
##########################################################################################################

"ignored mobs" {
    S:"ignore list" <
        EntityPlayer
        EntityButterfly
     >
}


